<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="staticBackdropLabel">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
          <div class="modal-body">
        </div>
        <div class="clearfix"></div>
      </div>
  </div>
</div>