<h1>Produtos</h1> 


<ul>
  <% @produtos.each do |produto| %>
    <% unless produto.archived? %>
      <li>
       <%= link_to produto.nome, produto %>
     </li>
    <% end %>
  <% end %>
</ul>


<%= link_to "Novo Produto", new_produto_path %>